body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  min-width: 480px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  height: calc(100vh - 100px);
}

.center {
  text-align: center;
  margin-top: 3px;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
  margin: 0 auto
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.post {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #737ee6;
  border-radius: 3px;
}

.panel-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.panel-info-title {
  font-weight: bold;
  margin-top: 3px;
  margin-right: 5px;
}

.panel-info-body {
  white-space: pre-line;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 5px;
}

.panel-info-right {
  position: relative;
  font-style: bold;
  font-size: 14px;
  float: right !important;
  right: 0;
  width: 50%;
  text-overflow: ellipsis;
}

.panel-info-left {
  position: relative;
  font-style: bold;
  font-size: 14px;
  float: left !important;
  left: 0;
  width: 50%;
  text-overflow: ellipsis;
}

.panel-info-detail {
  color: #969696;
  font-size: 16px;
}

.label-category {
  color: darkred;
  font-size: 12pt;
}

.label-info-timestamp {
  color: #969696;
  font-size: 15px;
}

.text-info-paragraph {
  font-size: 18px;
  margin: 10px 0;
}

.view-icons {
  display: flex;
  align-items: center;
}

.view-icons>span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 16px !important;
}

.view-icon {
  font-size: 27px;
  color: #697784;
}

.view-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}

.category {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #eb1414;
  border-radius: 3px;
  height: auto;
  overflow: hidden;
}

.category-name {
  color: #082c1a;
  margin: 5px 15px 0 5px;
  font-size: 18px !important;
  display: inline-block;
}

.category-list {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: table;
  float: left;
}

.category-item {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.comment {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #2cbe07;
  border-radius: 3px;
}

.comment-name {
  color: #082c1a;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}

.comment-item {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
}

.up-down-button {
  background: transparent;
  border: none;
}

.invisible {
  display: none !important;
  visibility: hidden;
}

.visible {
  display: block !important;
  visibility: visible;
}

.new-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.inputField {
  padding: 10px;
  font-size: 15px;
}

.selectField {
  padding: 3px;
  font-size: 15px;
}

.textarea {
  font-size: 15px;
}

.textarea-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.dialog-error-text {
  margin-top: 15px;
  margin: 8px;
  font-size: 16px;
  color: #C3398A;
}

.side-by-side {
  display: inline-block;
  margin: 5px;
}

.sort-icon {
  color: #2023c0;
}

.sort-icon-unselected:hover {
  color: #00b5d6;
}

.sort-icon-unselected {
  color: dark-grey;
}

.edit-button {
  width: 160px;
  margin: 10px;
  padding: 20px;
}

.create-fab {
  display: inline-block;
  margin: 2px !important;
}

.divider {
  position: absolute;
  left: 230px;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid white;
}

.button-menu-context {
  color: #00b5d6 !important;
  margin-left: 5px !important;
}

.appbar-title {
  margin-right: 15px !important;
}

.text-right {
  text-align: right !important;
  width: 100% !important;
}